<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<h2>register</h2>
<form action="/member/create" method="post">
    <table>
        <tr>
            <td><label>이름</label></td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td> <label>이메일</label></td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td><label>비밀번호</label></td>
            <td><input type="text" name="password"></td>
        </tr>
    </table>
    <br>
    <button type="submit"> 회원가입 </button>
</form>
</body>
</html>