<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="header :: headerFragment" ></div>
    <div class="container">
        <div class="page-header"><h1>회원 목록</h1></div>
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>이름</th>
                <th>email</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="author : ${authorList}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.name}"></td>
                    <td th:text="${author.email}"></td>
                    <td> <a th:href="@{/author/detail/{id}(id=${author.id})}">상세보기</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>