<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <style>
        .pull-right{
            float: left;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div th:replace="header :: headerFragment" ></div>
<div class="container">
<div class="page-header">
    <h1> 회원 상세 보기</h1>
</div>
<table class="table">
    <tr>
        <td>ID : </td>
        <td th:text="${author.id}"></td>
    </tr>
    <tr>
        <td>이름 : </td>
        <td th:text="${author.name}"></td>
    </tr>
    <tr>
        <td>이메일 : </td>
        <td th:text="${author.email}"></td>
    </tr>
    <tr>
        <td>비밀번호 : </td>
        <td th:text="${author.password}"></td>
    </tr>
    <tr>
        <td>사용자 권한 : </td>
        <td th:text="${author.role}"></td>
    </tr>
    <tr>
        <td>가입 시간 : </td>
        <td th:text="${author.createdTime}"></td>
    </tr>
</table>
    <div class="pull-right">
        <button type="button" class="btn btn-primary" onclick="doDisplay()">수정</button>
    </div>
    <div class="pull-right">
         <a class="btn btn-primary" th:href="@{/author/delete/{id}(id=${author.id})}">삭제</a>
    </div>
    <div id="updateForm" style="display:none;" class="mt-4">
        <form th:action="@{/author/update/{id}(id=${author.id})}" method="post" >
            <table class="table">
                <tr class="form-group">
                    <td><label for="name">이름 : </label></td>
                    <td><input type="text" id="name" name="name" class="form-control" th:value="${author.name}"></td>
                </tr>
                <tr class="form-group">
                    <td> <label for="email">이메일 : </label></td>
                    <td><input type="text" id="email" name="email" class="form-control" th:value="${author.email}" readonly></td>
                </tr>
                <tr class="form-group">
                    <td><label for="password">비밀번호 : </label></td>
                    <td><input type="text" id="password" name="password" class="form-control" th:value="${author.password}"></td>
                </tr>
            </table>
            <button type="submit"  class="btn btn-primary"> 수정완료 </button>
        </form>
    </div>
</div>
<script>
    function doDisplay(){
        var con = document.getElementById("updateForm");
        if(con.style.display=='none'){
            con.style.display = 'block';
        }else{
            con.style.display = 'none';
        }
    }
</script>
</body>
</html>