<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2> form test </h2>
    <form action="/hello/form-screen-handle" method="post">
        <input type="text" name="name">
        <input type="text" name="email">
        <input type="text" name="password">
        <button type="submit"> 데이터 보내기 </button>
    </form>
    <form action="/hello/form-screen-handle1" method="post">
        <input type="text" name="name">
        <input type="text" name="email">
        <input type="text" name="password">
        <button type="submit"> 데이터 보내기 </button>
    </form>
</body>
</html>